<!-- 
Author: Amanda Martel
Filname: navigation.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->
    
<!-- Create Navigation -->
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            <!-- I get an error when using the ejs tags on navigation links -->
        </ul>
    </nav>
</header>