<!-- 
Author: Amanda Martel
Filname: 404.ejs
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->

<!-- use include statement to render header -->
<%- include('includes/head.ejs') %>
</head>

<body>
    <!-- use include statement to render navigation -->
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>

<!-- use include statement to render body -->
<%- include('includes/end.ejs') %>