<!-- 
Author: Amanda Martel
Filname: add-product.html
Class: WDD 3600 - Node Complete Guide
Date: 2/2/2023
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!-- Link to external style sheets -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <!-- Create Navigation -->
    <header class="main-header">
        <nav class="main-header_nav"> 
            <ul class="main-header_item_list">
                <li class="main-header_item"><a href="/">Shop</a></li>
                <li class="main-header_item"><a class="active" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <!-- Create Main -->
    <main>
        <!-- Create form -->
        <form class="product-form" action="/admin/add-product" method="POST">
             <!-- Create input field -->
             <div class="form-control">
                 <label for="title">Title</label>
                <input type="text" name="title" id="title">
             </div>
             <!-- Create button -->
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>