<!-- 
/*
 * Author: Amanda Martel
 * Filname: head.ejs
 * Class: WDD 3600 - Node Complete Guide
 * Date: 2/2/2023
*/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">